name: Publish to hexsorcerer.github.io
on:
  push:
    branches: [main]

jobs:

  release:

    runs-on: ubuntu-latest

    permissions:
      contents: write
      issues: write
      pull-requests: write

    env:
      node-version: 18.x

    steps:
    - uses: actions/checkout@v3
      with:
        ref: ${{ github.event.pull_request.head.ref }}
    - name: Use Node.js ${{ env.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ env.node-version }}
    - name: semantic-release
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        npm ci
        npx semantic-release

  dispatch:

    runs-on: ubuntu-latest
    needs: release

    steps:
    - name: Dispatch component-update event
      uses: peter-evans/repository-dispatch@v2
      with:
        token: ${{ secrets.DISPATCH_TOKEN }}
        repository: hexsorcerer/gh-pages-playbook
        event-type: component-update